body {
  background-color: white !important;
}

h1.title {
  color: #333333 !important;
  position: sticky;
  top: 0;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.container.container_body.mascot {
  margin-top: 0 !important;
  margin-right: 50px !important;
  padding: 0 !important;
  background-image: none !important;
  margin-left: 200px;
}

nav.navbar-fixed-top.search-header {
  position: relative !important;
  width: calc(100% - 50px);
}

.topnav {
  display: none;
}

.topmenu {
  display: none;
}

.socialmedia {
  display: none;
}

.pagestats {
  display: none;
}

ul.flex-container.wrap {
  display: none !important;
}

.thread .post {
  width: 100%;
  margin-bottom: 0 !important;
  padding: 0 20px !important;
  color: #333333;
  border-top: 1px solid #2b2b2b !important;
  border-bottom: none !important;
  background-color: white;
}

.thread .post .name {
  color: #989898 !important;
}

.thread .post .name a {
  color: #989898 !important;
}

.thread .post .back-links a {
  color: #3182ce !important;
}

.thread .post .message a {
  color: #3182ce;
}
